# Node
node_modules/
npm-debug.log*

# Environment
.env
.env.*

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
!example.tfvars
crash.log

# macOS
.DS_Store

# Editor
.vscode/
.idea/